*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./assets/17740155_159Z_2107.w026.n002.628B.p1.628.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}