*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kode Mono", monospace;
}

body{
    background: url(./assets/17740155_159Z_2107.w026.n002.628B.p1.628.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    padding: 20px;
    background-color: #ffffffe6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

button{
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

button:hover{
    opacity: .8;
}

button:active{
    opacity: .5;
}

#rock{
    background-color: #8C9FB1 ;
}

#paper{
    background-color: #465D76;
}

#scissors{
    background-color: #4F8DD1;
}

#lizard{
    background-color: #164B84;
}

#spock{
    background-color: #002348;
}

p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tied span{
    color: #007599;
}

.your-score span{
    color: #39FA1B;
}

.machine-score span{
    color: #b96900;
}

@media (max-width: 768px){
    h1{
        font-size: 28px;
        text-align: center;
    }

    button{
        font-size: 40px;
        padding: 8px;
        max-width: 70px;
    }

    p{
        font-size: 18px;
    }
}

@media (max-width: 480px){
   body{
    background: url(./assets/fundo-mobile.jpg);
    background-size: cover;
   }
   
    h1{
        font-size: 24px;
    }

    .buttons{
        gap: 10px;
    }

    button{
        font-size: 32px;
        padding: 6px;
        max-width: 60px;
    }

    #rock{
    background-color: #D8C7D1 ;
    }

    #paper{
        background-color: #8F6283;
    }

    #scissors{
        background-color: #AE5397;
    }

    #lizard{
        background-color: #A62985;
    }

    #spock{
        background-color: #E600AC;
    }

    p{
        font-size: 16px;
    }
}